<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/game2.css" />
    <title>This App</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <a href="main.html" class="back block">
        <img src="../png/back.png" alt="" />
      </a>

      <div class="balance_cont btn">
        <img src="../png/coin.png" alt="" />
        <div class="balance"></div>
      </div>

      <div class="slot_cont_cont block">
        <div class="slot_cont"></div>
      </div>

      <img src="../png/spin.png" alt="" class="spin" />

      <div class="footer block">
        <div class="control">
          <div class="minus block">
            <img src="../png/arrow.png" alt="" />
          </div>
          <div class="bet-amount_cont btn">
            <img src="../png/coin.png" alt="" />
            <div class="bet-amount">100</div>
          </div>
          <div class="plus block">
            <img
              src="../png/arrow.png"
              alt=""
              style="transform: rotate(180deg)" />
          </div>
        </div>
      </div>
    </div>

    <script src="../scripts/game2.js"></script>
  </body>
</html>
